body {
    color:rgb(8, 203, 252);
    background:rgb(255, 8, 234); 
    margin: 0px;
    font-family: "Sixtyfour Convergence", sans-serif;
    
    }
    
    header {
           border: solid 2px rgb(12, 12, 12);
           padding: 10px;
           font-size: 27px;
           color: rgb(5, 5, 5);
    
    }
    
    section {
            background: rgb(112, 24, 112);
            padding-bottom: 80px;
            padding-top: 80px; 
            display: flex;
            justify-content: center;
            
    
    }
    
    
    .chamada-texto{ 
             margin-right: 3%;
    
    }
    
    h1{
         font-size: 30px;
    
    }
    
    p {
        font-size: 20p;
    }
    
    img {
        height: 100px;
      }
    
    .categoria-videos {
        display: flex;
        overflow-x: auto;
        gap: 20px;
      }
    
      .categoria-videos img {
        opacity: 0.5;
        height: 150px
      }
    
      .categoria-videos img:hover {
        opacity: 1.0;
        border: 1px solid green;
    }
    